td {
	height: 200px;
	width: 200px;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.red {
  background: url(http://media.giphy.com/media/12AY0A3PWhI9So/giphy.gif);
  background-size: 205px 205px;
}

.blue {
  background: url(http://media.giphy.com/media/MXiwA0L3H1qzm/giphy.gif);
  background-size: 205px 205px;
}

.blank {
  background-color: none;
}

tbody  > tr > td:first-child {
	border-right: 2px solid black;
}

tbody  > tr > td:nth-child(2) {
	border-right: 2px solid black;
}

tr:nth-child(2) {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

header {
	font-size: 2.5em;
	font-weight: bolder;
	color:;
}

body, html {
	width: 100vw;
	height: 100vh;
	text-align: center;
}

span {
	border-bottom: 2px solid black;
}

@-webkit-keyframes colorchange
{
    0%   { color: #00F; /* from: blue */ }
    25%  { color: #F00; /* red        */ }
    50%  { color: #0F0; /* green      */ }
    75%  { color: #F0F; /* purple     */ }
    100% { color: #00F; /* to: blue   */ }
}

header, button
{
    -webkit-animation: colorchange 5s linear 1s infinite alternate;
    animation: colorchange 5s linear 1s infinite alternate;
}

button {
	background-color: white;
	border: 2px solid black;
	border-radius: 10px;
}


/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#82808a+0,656270+100 */
html {
	background: #82808a; /* Old browsers */
	background: -moz-linear-gradient(top,  #82808a 0%, #656270 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82808a), color-stop(100%,#656270)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #82808a 0%,#656270 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #82808a 0%,#656270 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #82808a 0%,#656270 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #82808a 0%,#656270 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82808a', endColorstr='#656270',GradientType=0 ); /* IE6-9 */
}